body {
	background-color: #000000;
}

#bio {
	height: 400px;
}

#biopic {
	background: url("../image/biopic.jpg") no-repeat center center;
	background-size: cover;
	height: auto;

}

#title {
	background-color: #000000;
	positon: relative;
	display: inline-block;
}
#des {
	padding-bottom:1rem;
}


